@page "/{machineId}/products"
@using VendingMachine.Service.Aggregators.Web.API.ViewModels.Machine
@inject IGatewayApiBlazor api


<h3>Products</h3>

@foreach (var item in MachineStatus.ProductItem)
{
    @item.Name
}

@code {
    [Parameter]
    public int MachineId { get; set; }

    public MachineItemViewModels MachineStatus { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        MachineStatus = await api.GetMachineCurrentStatusAsync(MachineId);
    }
}
