@page  "/login"
@using VendingMachine.Web.ViewModels


<h3>Login</h3>

<EditForm Model="@LoginData" OnSubmit="FormSubmitted">
    <DataAnnotationsValidator/> <!--Validate input-->
    <ValidationSummary/> <!--Error Messages-->
    <div class="form-group">
        <label for="username">Username</label>
        <InputText @bind-Value="LoginData.Username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" />
        <small id="usernameHelp" class="form-text text-muted">Please insert your username</small>
        <ValidationMessage For="() => LoginData.Username" /> <!--Error Messages-->
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText @bind-Value="LoginData.Password" type="password" class="form-control" id="password" placeholder="Password" />
        <ValidationMessage For="() => LoginData.Password" /> <!--Error Messages-->
    </div>

    <input type="submit" value="Login" class="btn btn-primary" />
</EditForm>

@code {
    LoginViewModel LoginData = new LoginViewModel();

    void FormSubmitted(EditContext ctx)
    {
        if (ctx.Validate())
        {
        }
        else
        {
        }
    }
}
